<h3>Part 1</h3>

In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('resources/input_day1.txt', delimiter='   ', header=None, engine='python', names=['left', 'right'])
df

      left  right
0    16435  48069
1    29877  97906
2    75256  47355
3    25417  59861
4    32479  25840
..     ...    ...
995  66871  37296
996  33330  86365
997  66278  96190
998  18682  72272
999  42394  36663

[1000 rows x 2 columns]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   left    1000 non-null   int64
 1   right   1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

In [61]:
# Answer part 1
sum(abs(df['left'].sort_values().reset_index(drop=True) - df['right'].sort_values().reset_index(drop=True)))

1722302

<h3>Part 2</h3>

In [94]:
def count_occurrence(count_occurance_df):
    return lambda left_number: left_number * count_occurance_df[count_occurance_df['right'] == left_number].shape[0]

In [95]:
# Answer part 2
sum(df['left'].apply(count_occurrence(df)))

20373490